@import "../../node_modules/tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');

@theme {
    --color-gray-10: #F5F5F5;
    --color-gray-20: #E1E1E1;
    --color-gray-30: #BDBDC0;
    --color-gray-40: #BDBDC0;
    --color-gray-80: #1D1C20;
    --color-gray-100: #1E1E21;
}

@layer base {
    @import "./normalize.css";
}

:root {
    font-family: Inter, system-ui, sans-serif;
}