@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap');
@import "../../node_modules/tailwindcss";

:root {
    font-family: Inter, sans-serif;
}

@theme {
    --color-gray-10: #F5F5F5;
    --color-gray-20: #E1E1E1;
    --color-gray-30: #BDBDC0;
    --color-gray-40: #BDBDC0;
    --color-gray-50: #5F5F63;
    --color-gray-80: #1D1C20;
    --color-gray-100: #171719;

    --color-violet-40: #734DFF;
}

@layer base {
    @import "./normalize.css";
}

@layer components {
    .glass {
        @apply bg-black/5 backdrop-blur-[12px] backdrop-saturate-[180%];
        @apply shadow-[inset_8px_4px_48px_rgba(0,0,0,0.8),inset_-8px_-2px_32px_rgba(255,255,255,0.16),0_32px_64px_rgba(0,0,0,0.15)];
        @apply border-x-1 border-x-white/60;
    }
}