*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    gap: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    border: none;
    background: none;
    outline: none;

    font-size: 16px;
    font-weight: 400;
    font-style: normal;
    font-family: Gilroy, sans-serif;
    text-decoration: none;
    list-style: none;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
input[type="number"] {
    -moz-appearance: textfield;
}

input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear,
input[type="password"]::-webkit-textfield-decoration-container {
    display: none !important;
    visibility: hidden !important;
}